button{
    border-radius: 10px;
    border: none;
}

body{
 
    font-family: 'Roboto', sans-serif;
}

  .carrot{
    gap: 50px;
    background-color:whitesmoke;
    border: none;
  }  
  
  
  .healthy{
    background-color: gray;
  }
  .cauliflower{
    background-color: gray;
  }